.node-container {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  column-gap: 0;
}

.node {
  width: 15px;
  height: 15px;
  border: 1px solid black;
}
